*{

  padding: 0;
}
body{
  background: #FFE033;
}


.contenedor-box{
  width: 960px;
  margin-top: -15px;




}
.a-box{
  width: 1350px;
  height: 220px;
  line-height: 200px;
background:#000000;
  text-align: center;
  margin-bottom: -50px;
  font-family: monospace;



}
.Registrarse{
  font-size: 20px;
  width: 230px;
  height: 30px;
  background: white;
  text-align: center;
  margin-bottom: 50px;
  margin: 0 auto;
  margin-left: 550px;

}
.c-box{
float: right;
margin-top: 60px;
border: 1px solid #FEEC37;
padding: 5px;
font-family: monospace;
margin-bottom: 20px;
width: 500px;
background-color: #FFFFFF;

}
summary{
  font-size: 20px;

}
